# Gradle & Build outputs
.gradle/
build/
out/
bin/
run/
run-data/
logs/
*.log
accesstransform.log

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
*.launch
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# Local Gradle Home caches (kept locally in project, excluded from git repo)
gradle_home/*
!gradle_home/.gitkeep

# OS & Temp files
.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.swp

# Local Properties
local.properties
gradle-local.properties